*.pyc
*.cpython*
__pycache__/
.vscode/
db.sqlite3
graph_slices*.png
migrations/
behavioral-model/
*.pcap
*core

# uv
.ruff_cache
.venv
*egg-info
openopticslib

# C++
*.so

# Django stuff:
*.log
*.pot

# Ignore Sphinx build output
docs/_build/
docs/generated/
docs/publish2dev.sh
docs/publish2mpi.sh

# Claude
.claude/
CLAUDE.md